* { 
background-image: url("img_tree.gif");
}

.llc {
    text-align: center;
    color: black;
    background-color: red;
    outline: 2px solid black;
    margin: 25px;
    padding: 25px;
    width: auto;
    font-family: fantasy;
   
    
}