html {
	font-size: 22px;
}

body {
	background-color: #333;
	color: whitesmoke;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

.links {
	text-align: center;
	font-size: 24;
}

.llc {
	text-align: center;
	color: rgb(242, 17, 17);
	font-family: cursive;
	font-size: 60px;
}

.about {
	color: red;
	font-family: fantasy;
}

.about-us {
	text-align: center;
	font-size: 36px;
	outline: solid whitesmoke;
	color: royalblue;
}

.detail {
	text-align: center;
	max-width: 768px;
	max-height: 1024px;
	margin: auto;
	display: block;
	font-family: "Times New Roman", Times, serif;
}

#address {
	margin-left: 30px;
	max-width: 768px;
	max-height: 1024px;
	margin: auto;
	display: block;
}

#established {
	text-align: right;

	margin-right: 30px;
	max-width: 768px;
	max-height: 1024px;
	margin: auto;
	display: block;
	margin-top: -30px;
}
